.socialMedia_container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.socialMedia_iconContainer {
    height: 35px;
    aspect-ratio: 1;
}

.socialMedia_icon {
    height: 100%;
}

.light {
    filter: brightness(.25);
}