.customCssProperties {
    --gap: calc(1.5rem + 0.3vw);
}

.socialMedia_container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--gap);
    flex-wrap: wrap;
}

.socialMedia_iconContainer {
    height: var(--gap);
    aspect-ratio: 1;
}

.socialMedia_icon {
    height: 100%;
}

.light {
    filter: brightness(.25);
}

@media (max-width: 480px) {
    .socialMedia_container {
        justify-content: center;
        gap: calc(var(--gap) * 0.7);
    }

}