.customCssProperties {
    --spacing-unit: 1rem;
}

.container {

    margin-bottom: calc(var(--spacing-unit) * 4);
    border-bottom: 2px solid #3f3f3f;
}

.title {
    margin-bottom: var(--spacing-unit);
}

.caption {
    margin-bottom: calc(var(--spacing-unit) * 2);
}

@media (max-width: 768px) {
    .title {
        margin-bottom: calc(var(--spacing-unit) * .5);
    }
}