.customCssProperties {
    --spacing-unit: 1rem;
}

.container {
    margin-bottom: calc(var(--spacing-unit) * 4);
    border-bottom: 2px solid rgb(68, 68, 68);
}

.title {
    margin-bottom: var(--spacing-unit);
}

.caption {
    margin-bottom: calc(var(--spacing-unit) * 2);
}

@media (max-width: 768px) {
    .title {
        margin-bottom: calc(var(--spacing-unit) * .5);
        line-height: 2.5rem;
    }

    .caption {
        margin-bottom: var(--spacing-unit);
    }

    .container {
        margin-bottom: calc(var(--spacing-unit) * 2);
        border-bottom: 2px solid rgb(68, 68, 68);
    }
}