.customCssProperties {
    --custom-color: red;

    border: 1px solid var(--custom-color);
}

.test {
    background-color: rgb(48, 0, 0);
    border: 1px solid var(--custom-color);
    padding: 10px;
}