.customCssProperties {
    --spacing-unit: 1rem;
    --input-font-size: 1rem;
    --input-font-weight: 300;
    --input-border-color: rgb(0, 89, 255);
}

.listSettings {
    display: flex;
    gap: var(--spacing-unit);
    flex-wrap: wrap;
    margin-bottom: calc(var(--spacing-unit) * 2);
}

.settingsButton {
    color: #3f3f3f;
    font-size: calc(var(--input-font-size) * 1.2);
    font-weight: 500;
    padding: calc(var(--spacing-unit)* 0.5) calc(var(--spacing-unit) * 1);
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    border: 1px solid rgb(231, 231, 231);
    text-align: center;
    flex-grow: 1;
    width: 30%;
}

.settingsButton.resultsCount {
    color: white;
    background-color: transparent;
    border: 1px solid rgb(102, 102, 102);
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);
    padding-bottom: var(--spacing-unit);
    border-bottom: 2px dotted rgb(68, 68, 68);
    margin-bottom: calc(var(--spacing-unit) * 2);
}

.filtersSection {
    width: 100%;
    display: flex;
    gap: var(--spacing-unit);
    flex-wrap: wrap;
    padding-bottom: var(--spacing-unit);
    border-bottom: 2px dotted rgb(68, 68, 68);
}

.filterContainer {
    cursor: pointer;
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    flex-grow: 1;
    width: 30%;
    border-radius: 35px;
    border: 1px solid var(--input-border-color);
    padding: calc(var(--spacing-unit)* 0.5) calc(var(--spacing-unit) * 1);
    padding-left: calc(var(--spacing-unit)* 1.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-unit);
}

.filterInput {
    flex-grow: 1;
    font-size: inherit;
    max-width: 85%;
}

.filterInput::placeholder {
    color: inherit;
    font-weight: 300;
}

.selectOption {
    background-color: rgb(68, 68, 68);
}

@media (max-width: 1100px) {
    .filterContainer {
        width: 100%;
    }

    .settingsButton {
        width: 100%
    }
}