.customCssProperties {
    --spacing-unit: 1rem;
    --input-font-size: 1rem;
    --input-font-weight: 300;
    --input-color: rgb(0, 89, 255);
    --buttons-border-px: 1px;
    --interactive-item-padding-x: 0px;
    --interactive-item-padding-y: 7px;
    --interaction-color: rgb(226, 43, 67);
}

.resultsCount {
    font-size: calc(var(--input-font-size) * 2);
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: calc(var(--spacing-unit) * 2);
    font-weight: 500;
    padding: calc(var(--spacing-unit)* 0.5) calc(var(--spacing-unit) * 1);
    text-align: center;
    border-radius: 50px;
    border-top-right-radius: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-unit);
    flex-wrap: wrap;
    padding-bottom: calc(var(--spacing-unit) * 2);
    margin-bottom: var(--spacing-unit);
    border-bottom: 2px dotted rgba(255, 255, 255, 0.2);
}

.button {
    color: rgb(68, 68, 68);
    font-size: var(--input-font-size);
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    padding: var(--interactive-item-padding-y) var(--interactive-item-padding-x);
    background-color: rgb(231, 231, 231);
    border: var(--buttons-border-px) solid rgb(231, 231, 231);
    border-radius: 50px;
    flex-grow: 1;
    max-width: 32%;
}

.resetButton {
    background-color: rgba(226, 43, 67, 0.05);
    border: 1px solid rgb(226, 43, 67);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing-unit) * .5);
}

.resetButton.unactiveResetButton {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: not-allowed;
}

.resetButton.unactiveResetButton span {
    color: rgba(255, 255, 255, 0.3);
}

.filtersSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-unit);
    flex-wrap: wrap;
    padding-bottom: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);
    border-bottom: 2px dotted rgba(255, 255, 255, 0.2);
}

.filterContainer {
    cursor: pointer;
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    border-radius: 35px;
    border: 1px solid var(--input-color);
    padding: calc(var(--spacing-unit)* 0.5) calc(var(--spacing-unit) * 1);
    padding-left: calc(var(--spacing-unit)* 1.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-unit);
    flex-grow: 1;
    max-width: 32%;
}

.filterInput {
    flex-grow: 1;
    font-size: inherit;
    max-width: 85%;
}

.filterInput::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
}

.selectOption {
    color: rgb(68, 68, 68);
}

.labelsContainer {
    width: 100%;
    display: flex;
    gap: var(--spacing-unit);
    flex-wrap: wrap;
    padding-bottom: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);
    border-bottom: 2px dotted rgba(255, 255, 255, 0.2);
}

.label {
    font-size: calc(var(--input-font-size) * .8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: calc(var(--spacing-unit) * 0.2) calc(var(--spacing-unit) * 1);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.label * {
    font-size: inherit;
}

.label:hover,
.selectedLabel {
    background-color: rgba(255, 255, 255, 0.08);
}

.loadMoreTagsButton {
    border-color: var(--input-color);
}

@media (max-width: 768px) {

    .resultsCount {
        font-size: calc(var(--input-font-size) * 1.5);
    }


    .labelsContainer {
        gap: calc(var(--spacing-unit) * 0.5);
    }

    .button,
    .filterContainer {
        flex-basis: 100%;
        max-width: 100%;
    }
}