.customCssProperties {
    --spacing-unit: 1rem;
    --input-font-size: 1rem;
    --input-font-weight: 300;
    --input-border-color: rgb(0, 89, 255);
    --buttons-border-px: 1px;
    --interactive-item-padding-x: 0px;
    --interactive-item-padding-y: 7px;
}

.resultsCount {
    font-size: calc(var(--input-font-size) * 2);
    color: white;
    background-color: transparent;
    border: 1px solid rgb(102, 102, 102);
    margin-bottom: calc(var(--spacing-unit) * 2);

    font-weight: 500;
    padding: calc(var(--spacing-unit)* 0.5) calc(var(--spacing-unit) * 1);
    background-color: transparent;
    border-radius: 50px;
    text-align: center;
}


/* CSS TEST - start */

.container {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-unit);
    flex-wrap: wrap;
    padding-bottom: var(--spacing-unit);
}

.button {
    color: rgb(68, 68, 68);
    font-size: calc(var(--input-font-size) * 1.2);
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    width: 31%;
    padding: var(--interactive-item-padding-y) var(--interactive-item-padding-x);
    background-color: rgb(231, 231, 231);
    border: var(--buttons-border-px) solid rgb(231, 231, 231);
    border-radius: 50px;

}

.resetButton {
    background-color: transparent;
    border: 1px solid rgb(226, 43, 67);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing-unit) * .5);
}

@media (max-width: 750px) {

    .button {
        width: 100%;
    }
}









/* CSS TEST - end */






.listSettings {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-unit);
    flex-wrap: wrap;
    margin-bottom: calc(var(--spacing-unit) * 2);
}

.settingsButton {
    color: #3f3f3f;
    font-size: calc(var(--input-font-size) * 1.2);
    font-weight: 500;
    padding: calc(var(--spacing-unit)* 0.5) calc(var(--spacing-unit) * 1);
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    border: 1px solid rgb(231, 231, 231);
    text-align: center;
    cursor: pointer;
    flex-grow: 1;
}

/* .resetButton {
    background-color: transparent;
    border: 1px solid rgb(102, 102, 102);
    color: rgb(102, 102, 102);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-unit);
}

.resetIcon {
    color: rgb(102, 102, 102);
} */

.settingsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);
    padding-bottom: var(--spacing-unit);
    border-bottom: 2px dotted rgb(68, 68, 68);
    margin-bottom: calc(var(--spacing-unit) * 2);
}

.filtersSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-unit);
    flex-wrap: wrap;
    padding-bottom: var(--spacing-unit);
    border-bottom: 2px dotted rgb(68, 68, 68);
}

.filterContainer {
    cursor: pointer;
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
    flex-grow: 1;
    border-radius: 35px;
    border: 1px solid var(--input-border-color);
    padding: calc(var(--spacing-unit)* 0.5) calc(var(--spacing-unit) * 1);
    padding-left: calc(var(--spacing-unit)* 1.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-unit);
}

.filterInput {
    flex-grow: 1;
    font-size: inherit;
    max-width: 85%;
}

.filterInput::placeholder {
    color: inherit;
    font-weight: 300;
}

.selectOption {
    background-color: rgb(68, 68, 68);
}

@media (max-width: 1100px) {

    .settingsButton.resultsCount {
        font-size: calc(var(--input-font-size) * 1.5);
    }

    .filterContainer {
        width: 100%;
    }

    .settingsButton {
        width: 100%
    }
}