/************************************************************************************
# RESET
************************************************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

button,
input,
select {
    all: unset;
    cursor: pointer
}

img {
    display: block;
}



/************************************************************************************
# UNIT
************************************************************************************/

/* ## BASE UNIT
-----------------------------------------------------------------------------------*/
:root {
    --unit-1: 1rem;
    --unit--05: calc(var(--unit-1) / 2);
    --unit-2: calc(var(--unit-1) * 2);
    --unit-4: calc(var(--unit-1) * 4);
    --unit-6: calc(var(--unit-1) * 6);
}

/* ## UNIT MEDIA QUERY
-----------------------------------------------------------------------------------*/

/* TABLET */
@media (min-width: 768px) {
    :root {
        --unit-1: 1.25rem;
        --unit--05: calc(var(--unit-1) / 2);
        --unit-2: calc(var(--unit-1) * 2);
        --unit-4: calc(var(--unit-1) * 4);
        --unit-6: calc(var(--unit-1) * 6);
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    :root {
        --unit-1: 1.5rem;
        --unit--05: calc(var(--unit-1) / 2);
        --unit-2: calc(var(--unit-1) * 2);
        --unit-4: calc(var(--unit-1) * 4);
        --unit-6: calc(var(--unit-1) * 6);
    }
}



/************************************************************************************
# CUSTOM PROPERTIES
************************************************************************************/

:root {

    /* PALETTE */
    --color-primary: white;
    --color-warning: rgb(226, 43, 67);
    --color-active: rgb(0, 132, 255);
    --color-hover: rgb(130, 230, 255);

    --color-1: red;
    --color-2: blue;
    --color-3: yellow;

    /* BACKGROUNDS */
    --background-primary: rgb(21, 21, 21);
    --overlay-dark: rgba(0, 0, 0, 0.8);

    /* INTERACTIVE ELEMENTS */
    --hover-transition: all 0.5s ease;
}

body {
    color: var(--color-primary);
    background-color: var(--background-primary);
}



/************************************************************************************
# TYPOGRAPHY
************************************************************************************/

/* ## TYPO ROOT
-----------------------------------------------------------------------------------*/
:root {

    /* FONT FAMILY */
    --font-family-primary: 'Poppins', sans-serif;

    /* TYPO UNIT */
    --font-size-unit: clamp(0.9rem, 0.8rem + 0.6vw, 1.4rem);

    /* TYPO SCALES */
    --typo-scale-small-text: 0.75;
    --typo-scale-p: 1;
    --typo-scale-h6: 1;
    --typo-scale-h5: 1.15;
    --typo-scale-h4: 1.25;
    --typo-scale-h3: 1.5;
    --typo-scale-h2: 1.75;
    --typo-scale-h1: 2.1;

    /* DEPENDENT TYPO SIZES */
    --font-size-small-text: calc(var(--font-size-unit) * var(--typo-scale-small-text));
    --font-size-p: calc(var(--font-size-unit) * var(--typo-scale-p));
    --font-size-h6: calc(var(--font-size-unit) * var(--typo-scale-h6));
    --font-size-h5: calc(var(--font-size-unit) * var(--typo-scale-h5));
    --font-size-h4: calc(var(--font-size-unit) * var(--typo-scale-h4));
    --font-size-h3: calc(var(--font-size-unit) * var(--typo-scale-h3));
    --font-size-h2: calc(var(--font-size-unit) * var(--typo-scale-h2));
    --font-size-h1: calc(var(--font-size-unit) * var(--typo-scale-h1));

    /* TYPO SPACING */
    --letter-spacing: calc(var(--font-size-unit) * 0.02);
    --line-height: 1.5;
}

/* ## TYPO BASE STYLES
-----------------------------------------------------------------------------------*/

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
a:-webkit-any-link,
li,
span {
    font-family: var(--font-family-primary);
    color: var(--color-primary);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
}

a,
a:-webkit-any-link {
    color: var(--color-active);
}

a:hover,
a:-webkit-any-link:hover {
    color: var(--color-hover);
}

/* ## TYPO CLASSES
-----------------------------------------------------------------------------------*/

.small-text {
    font-size: var(--font-size-small-text);
    font-weight: 300;
}

p,
.p {
    font-size: var(--font-size-p);
    font-weight: 300;
}

h1,
.h1 {
    font-size: var(--font-size-h1);
    font-weight: 700;
}

h2,
.h2 {
    font-size: var(--font-size-h2);
    font-weight: 600;
}

h3,
.h3 {
    font-size: var(--font-size-h3);
    font-weight: 600;
}

h4,
.h4 {
    font-size: var(--font-size-h4);
    font-weight: 600;
}

h5,
.h5 {
    font-size: var(--font-size-h5);
    font-weight: 600;
}

h6,
.h6 {
    font-size: var(--font-size-h6);
    font-weight: 600;
}

a,
a:-webkit-any-link {
    font-size: var(--font-size-p);
}

/* ## TYPO MEDIAQUERY
-----------------------------------------------------------------------------------*/

/* TABLET */
@media (min-width: 768px) {
    :root {
        --typo-scale-h1: 2.7;
        --typo-scale-h2: 2.3;
        --typo-scale-h3: 2;
        --font-size-h3: calc(var(--font-size-unit) * var(--typo-scale-h3));
        --font-size-h2: calc(var(--font-size-unit) * var(--typo-scale-h2));
        --font-size-h1: calc(var(--font-size-unit) * var(--typo-scale-h1));
    }

}

/* DESKTOP */
@media (min-width: 1024px) {
    :root {
        /* TYPO SCALES */
        --typo-scale-small-text: 0.8;
        --typo-scale-p: 1.1;
        --typo-scale-h6: 1.1;
        --typo-scale-h5: 1.5;
        --typo-scale-h4: 1.75;
        --typo-scale-h3: 2.25;
        --typo-scale-h2: 2.75;
        --typo-scale-h1: 3.5;

        /* DEPENDENT TYPO SIZES */
        --font-size-small-text: calc(var(--font-size-unit) * var(--typo-scale-small-text));
        --font-size-p: calc(var(--font-size-unit) * var(--typo-scale-p));
        --font-size-h6: calc(var(--font-size-unit) * var(--typo-scale-h6));
        --font-size-h5: calc(var(--font-size-unit) * var(--typo-scale-h5));
        --font-size-h4: calc(var(--font-size-unit) * var(--typo-scale-h4));
        --font-size-h3: calc(var(--font-size-unit) * var(--typo-scale-h3));
        --font-size-h2: calc(var(--font-size-unit) * var(--typo-scale-h2));
        --font-size-h1: calc(var(--font-size-unit) * var(--typo-scale-h1));
    }

}



/************************************************************************************
# LAYOUT
************************************************************************************/

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
}

/* ## CONTAINER
-----------------------------------------------------------------------------------*/
:root {
    --container-width: 80%;
    --container-width-max: 1200px;
    --container-padding: var(--unit-2);
}

.container {
    width: var(--container-width);
    max-width: var(--container-width-max);
    padding: var(--unit-2) 0;
    margin: auto;
}



/************************************************************************************
# GENERAL
************************************************************************************/



/************************************************************************************
# DEBUG
************************************************************************************/

.debug {
    background-color: rgb(36, 36, 0);
    border: 1px solid yellow;
    padding: 10px;
}