/************************************************************************************
# RESET
************************************************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

button {
    all: unset;
}

a:-webkit-any-link {
    color: blue;
}

input {
    all: unset;
}

select {
    all: unset;
}

img {
    display: block;
}



/************************************************************************************
# UNIT
************************************************************************************/

/* ## BASE UNIT
-----------------------------------------------------------------------------------*/
:root {
    --unit-1: 1rem;
    --unit--05: calc(var(--unit-1) / 2);
    --unit-2: calc(var(--unit-1) * 2);
    --unit-4: calc(var(--unit-1) * 4);
    --unit-6: calc(var(--unit-1) * 6);
}

/* ## UNIT MEDIA QUERY
-----------------------------------------------------------------------------------*/

/* TABLET */
@media (min-width: 768px) {
    :root {
        --unit-1: 0.66rem;
        --unit--05: calc(var(--unit-1) / 2);
        --unit-2: calc(var(--unit-1) * 2);
        --unit-4: calc(var(--unit-1) * 4);
        --unit-6: calc(var(--unit-1) * 6);
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    :root {
        --unit-1: 0.5rem;
        --unit--05: calc(var(--unit-1) / 2);
        --unit-2: calc(var(--unit-1) * 2);
        --unit-4: calc(var(--unit-1) * 4);
        --unit-6: calc(var(--unit-1) * 6);
    }
}



/************************************************************************************
# CUSTOM PROPERTIES
************************************************************************************/

/* ## CONTAINER
-----------------------------------------------------------------------------------*/
:root {
    --container-width: 80%;
    --container-width-max: 1200px;
    --container-padding: var(--unit-2);
}

.container {
    width: var(--container-width);
    max-width: var(--container-width-max);
    padding: var(--unit-2) var(--unit-4);
    margin: auto;
}



/************************************************************************************
# TYPOGRAPHY
************************************************************************************/

/* ## TYPO
-----------------------------------------------------------------------------------*/
:root {
    /* BREAKPOINTS */
    --bp-tablet: 768px;
    --bp-desktop: 1024px;

    /* FONT */
    --font-poppins: 'Poppins', sans-serif;

    /* FLUID TYPOGRAPHY */
    --typo-vw-mobile: 0.6vw;
    --typo-vw-tablet: 0.4vw;
    --typo-vw-desktop: 0.3vw;

    /* BASE TYPO */
    --typo-p: calc(0.8rem + var(--typo-vw-mobile));
    --typo-small: calc(var(--typo-p) * 0.8);
    --typo-h6: calc(var(--typo-p) * 1.125);
    --typo-h5: calc(var(--typo-p) * 1.25);
    --typo-h4: calc(var(--typo-p) * 1.5);
    --typo-h3: calc(var(--typo-p) * 1.75);
    --typo-h2: calc(var(--typo-p) * 2.25);
    --typo-h1: calc(var(--typo-p) * 3);
}

/* ## TYPO MEDIA QUERY
-----------------------------------------------------------------------------------*/

/* TABLET */
@media (min-width: 768px) {
    :root {
        --typo-p: calc(0.8rem + var(--typo-vw-tablet));
        --typo-small: calc(var(--typo-p) * 0.8);
        --typo-h6: calc(var(--typo-p) * 1.125);
        --typo-h5: calc(var(--typo-p) * 1.25);
        --typo-h4: calc(var(--typo-p) * 1.5);
        --typo-h3: calc(var(--typo-p) * 1.75);
        --typo-h2: calc(var(--typo-p) * 2.25);
        --typo-h1: calc(var(--typo-p) * 3);
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    :root {
        --typo-p: calc(0.8rem + var(--typo-vw-desktop));
        --typo-small: calc(var(--typo-p) * 0.8);
        --typo-h6: calc(var(--typo-p) * 1.125);
        --typo-h5: calc(var(--typo-p) * 1.25);
        --typo-h4: calc(var(--typo-p) * 1.5);
        --typo-h3: calc(var(--typo-p) * 1.75);
        --typo-h2: calc(var(--typo-p) * 2.25);
        --typo-h1: calc(var(--typo-p) * 3);
    }
}

/* ## TYPO CLASSES
-----------------------------------------------------------------------------------*/
* {
    letter-spacing: calc(var(--typo-p) * 0.02);
    font-family: var(--font-poppins);
}

.p {
    font-size: var(--typo-p);
}

.p-05 {
    font-size: var(--typo-small);
}

.h1 {
    font-size: var(--typo-h1);
    font-weight: 700;
}

.h2 {
    font-size: var(--typo-h2);
    font-weight: 600;
}

.h3 {
    font-size: var(--typo-h3);
    font-weight: 600;
}

.h4 {
    font-size: var(--typo-h4);
    font-weight: 600;
}

.h5 {
    font-size: var(--typo-h5);
    font-weight: 500;
}

.h6 {
    font-size: var(--typo-h6);
    font-weight: 500;
}



/************************************************************************************
# GENERAL
************************************************************************************/



/************************************************************************************
# UTILITY
************************************************************************************/