.customCssProperties {
    --containerPadding: 4rem;
    --columns: 3;
    --galleryWidth: 100%;
    --maxGalleryWidth: 1200px;
    --galleryGap: calc(1px + 0.2vw);
    --itemWidth: calc((100% - (var(--columns) - 1) * var(--galleryGap)) / var(--columns));
    --loadMoreGradient: white;

    /* Decomment if global body background color exists to overwrite default. */
    --loadMoreGradient: var(--background-primary);
}

.galleryContainer {
    padding-top: var(--containerPadding) 0;
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--galleryGap);
    width: var(--galleryWidth);
    max-width: var(--maxGalleryWidth);
    position: relative;
}

.galleryItem {
    width: var(--itemWidth);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.transparency {
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;

    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.galleryImg {
    width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    display: block;


    background-color: yellow;
}

.loadMoreContainer {
    position: absolute;
    width: 100%;
    aspect-ratio: 3.5 / 1;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
}

.loadMoreButton {
    margin: auto;
    margin-bottom: 2rem;
    color: #3f3f3f;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
}

.zoomOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.zoomImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 95vh;
    width: 95vw;
}

.zoomImg {
    max-width: 100%;
    max-height: calc(100% - 55px);
    object-fit: contain;
    display: block;
}

.zoomCloseButton {
    font-size: 25px;
    line-height: 0;
    color: #ffffff;
    font-weight: 600;
    width: 40px;
    aspect-ratio: 1 / 1;
    text-align: center;
    background-color: rgb(226, 43, 67);
    border-radius: 100%;
    padding-right: 1px;
    padding-top: 1px;
}