.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);

    margin: auto;
    height: 30px;
    width: 60px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    --iconColor: #3f3f3f;
}

.toTopButton {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 11px;
}

.icon {
    color: var(--iconColor);
    transform: rotate(45deg);
    display: inline-block;
}

.svg {
    fill: var(--iconColor);
    margin: 0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: #3f3f3f;
}

@media (max-width: 480px) {
    .footer {
        text-align: center;
        justify-content: center;
        gap: 1rem;
    }

}