.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #3f3f3f;
    gap: 2rem;
}

@media (max-width: 480px) {
    .footer {
        text-align: center;
        justify-content: center;
        gap: 1rem;
    }

}